* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: 400px;
  color: #fff;

}

.main .fees {

  margin-top: 100px;
  float: left;
  width: 30%;
  padding: auto;
}

.main .fees .icon {
  font-size: 30px;
  color: blueviolet;
}

.main .fees p {
  font-size: 20px;
}

.main h1 {
  font-size: 60px;
}

.main p {
  font-size: 20px;
}

.main span {
  color: blueviolet;
}

.aside img {
  width: 1000px;
}

@media screen and (min-width:468px) screen and (orientation:portrait) {
  .left .right {
    height: 100vh;
  }

}